<ion-header>
  <ion-toolbar>
    <ion-title>CHEWBACCA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <ion-list>

     <ion-avatar item-start>
       <img src="assets/img/Chewbacca.png">
     </ion-avatar>

      <h2>La historia de Chewbacca se toma a partir de los elementos que por ahora son válidos en el Universo Expandido
        de Star Wars y la versión que se ha modificado para crear el nuevo canon de Star Wars basándose en los derechos
        de Disney sobre los personajes, e historias nuevas que surgieron a partir de la adquisición de Lucasfilm por parte
        de Disney. El resto de esta historia procede del Universo "Leyendas" (antiguo universo Expandido), que ya no forma
        parte del canon del Universo Star Wars.
      </h2>

    <h2>Originario del planeta Kashyyyk, era hijo de Itchy (Attichitcuk), un fiel guerrero y colonizador, que en su
      tiempo guio a los wookiees victoria tras victoria. La esposa de Chewbacca era Malla (Mallatobuck), una bella
       wookiee muy hogareña que cuidaba atentamente del hijo de ambos, Lumpawarrump, Lumpy. Chewbacca llevaba consigo
       el nombre del antiguo héroe wookiee, el gran Bacca, el primero de los grandes caciques de Kashyyyk, y el creador
       de una espada que indicaba el liderazgo entre los wookiees. Con este nombre Chewbacca daba a conocer que pertenecía
       a un noble linaje, lo que fue corroborado por su rol en Kashyyyk durante las Guerras Clon y durante la Guerra Civil
       Galáctica1​.
    </h2>

    <h2>Chewbacca nació en Kashyyyk en el 200 BBY, hijo de Attichitcuk. Durante sus primeros años Chewbacca vivió en Kashyyyk,
      pero al contrario de muchos otros wookiees que raramente dejaban los exuberantes bosques del planeta, Chewbacca estaba
      consumido por un abrumador sentido de aventura y exploración. Los primeros viajes de Chewie fueron a los remotos y peligrosos
      niveles inferiores de los inmensos bosques de Kashyyyk y las Tierras Sombrías. No pasó mucho tiempo para que sus viajes lo
      llevaran lejos de los confines de su verde planeta natal. Sin embargo, su corazón permaneció en Kashyyyk, y Chewie siempre
      trataba de llegar a casa para las festividades.
    </h2>

    <h2>Cuando Chewie aún era joven, antes de cumplir 100 años de edad, era conocido por su habilidad para navegar los altos
      árboles Wroshyr y por su pericia con un hidrospanner. Chewbacca pasó algún tiempo reparando vehículos con sus amigos,
      incluyendo al wookiee Dryanta. Chewbacca conoció de joven a su futura esposa Mallatobuck, aunque él no sabía lo que ella
      sentía por él. Malla era tímida y ocultó sus sentimientos, incluso no agradeciéndole a Chewbacca cuando este la salvó de
      esclavizadores trandoshanos. Sin embargo, el primo de Chewbacca, Jowdrrl, era amigo de Malla y ayudó a crear lentamente una
      relación entre los dos. Desafortunadamente su floreciente relación encontró un obstáculo cuando el wookiee Tojjevvuk comenzó
       a pelear por el afecto de Malla. Chewbacca fue eventualmente obligado a participar en un duelo de honor con Tojjevuk por la
        mano de Malla, mas Tojjevvuk deshonró el duelo al usar sus garras, algo prohibido para un wookiee. Sin embargo, la destreza
         de Chewie al navegar los árboles Wroshyr fue la perdición de Tojjevuk, y un bloqueo a tiempo de Chewbacca envió a
         Tojjevvuk a las Tierras Sombrías, donde fue muerto por las peligrosas criaturas de Kashyyyk.
    </h2>

    <h2>Chewbacca era un ser sabio y sofisticado de gran fuerza y lealtad. También era un habilidoso mecánico. Como muchos wookiees,
       él podía entender básico, pero no podía hablarlo debido a la estructura vocal de su especie. En vez de eso él hablaba en
       shyriiwook, el idioma wookiee principal, compuesto en su gran mayoría de gruñidos, a sus compañeros que no eran wookies,
       que normalmente hablaban básico.
    </h2>
  </ion-list>
</ion-content>
