<ion-header>
  <ion-toolbar>
    <ion-title>General_Grevous</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <ion-list>

     <ion-avatar item-start>
       <img src="assets/img/General_Grevous.png">
     </ion-avatar>

      <h2>El General Grievous es un personaje de la saga de La Guerra de las Galaxias. Es el General Supremo militar de la
        Confederación de Sistemas Independientes durante las Guerras Clon. Es un temible y poderoso cyborg que ha consagrado
        su vida a la destrucción de la República y el exterminio de los caballeros Jedi, guardando sus sables de luz como trofeos
        de guerra.
      </h2>

    <h2>Los registros de guerra de Qymaen jai Sheelal (nombre del General Grievous) llamaron la atención de San Hill, el presidente
       del Clan Bancario Intergaláctico.

      Sus contactos en el creciente movimiento separatista del Conde Dooku habían provocado un profundo cambio y Hill empezó a buscar
      influencia y ventaja en la inevitable guerra civil que se estaba preparando. Vio en Grievous un valioso recurso.

      Sheelal juntó un grupo de guerreros Kaleesh y se dedicó a exterminar a los Huks de su planeta, haciéndolos huir a las lunas
      de este, no tuvo misericordia, queriendo exterminarlos incluso de las lunas, y los huks, desesperados, recurrieron a la República,
      la cual les dio su incondicional apoyo, provocano que los Kaleesh sufrieran hambre y una crisis económica. A cambio de respaldar
      las deudas de Kalee provocadas por la guerra contra los huks, el Clan Bancario consiguió los servicios eternos de Sheelal como
       intimidador y guerrero.
    </h2>

    <h2>Tras su caída, adopta el nombre de Darth Vader y acaba enfrentandose a su maestro, Kenobi, quien, tras una gran pelea de
      espadas láser, acaba mutilando al joven y abandonándolo a su suerte en el planeta Mustafar, donde acaba malherido y
      calcinado en la lava.
    </h2>

    <h2>Fue este fuerte espíritu guerrero el que se transformó en profundo odio, aturdimiento y rabia que marcarían su destino.
      Sheelal no se sentía satisfecho con sus droides de batalla, y deseaba a su grupo de guerreros, sin embargo San Hill no
      aceptó reclutar más Kaleesh. Sheelal no aceptó la forma en que lucharía, y para convencerlo, crearon a los magnaguardias.
      Sheelal insistió en que aprendieran a pelear y que lo protegieran en batalla, haciéndolo sentirse cómodo en la guerra.
      Sheelal averiguó que los huks habían atacado los campos sagrados de los Kaleesh sin que la República hiciera nada, por lo
      que abandonó su puesto para ayudar a su pueblo, y San Hill mandó a asesinar a Sheelal con la aprobación de Dooku.
    </h2>

    <h2>Junto con su aliado Poggle el Menor, San Hill saboteó el transbordador de Grievous lo que provocó un terrible accidente.
      Suspendido en bacta, el malherido cuerpo de Grievous fue mantenido con vida. No había tenido un final digno. No había
      sufrido la muerte de un guerrero. Los genios tecnológicos del Clan Bancario y las fundiciones geonosianas lo reconstruyeron
      con prótesis e implantes. Ellos le ofrecieron su "cyborg" asesino como regalo al Conde Dooku, después de ello Sheelal adoptó
       el nombre de Grievous.
    </h2>
  </ion-list>
</ion-content>
