<ion-header>
  <ion-toolbar>
    <ion-title>Padme_Amdala</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <ion-list>

     <ion-avatar item-start>
       <img src="assets/img/Padme_Amdala.png">
     </ion-avatar>

      <h2>Padmé Amidala Naberrie, comúnmente conocida como Padmé Amidala fue una humana política que se convirtió en una de las
        principales voces para la paz y la diplomacia durante los últimos días de la República Galáctica. Ella saltó a la
        prominencia galáctica cuando la Federación de Comercio invadió y ocupó su planeta natal de Naboo, pasó a servir como una
        destacada miembro del Senado Galáctico durante la Guerra de los Clones, y se convirtió en la madre de la legendaria
        Princesa y General Leia Organa y el Maestro Jedi Luke Skywalker.
      </h2>

    <h2>Amidala fue elegida Reina de Naboo en la edad de catorce años, poco después de que ella se vio obligada a lidiar con la
      ocupación de la Federación de Comercio. Su determinación para liberar a su pueblo llevó a la remoción del Canciller Supremo
      Finis Valorum de la oficina, la elección del Senador de Naboo Sheev Palpatine—secretamente Darth Sidious, Señor Oscuro de
      los Sith—a la cancillería y la cadena de acontecimientos que provocaron el estallido de la Guerra de los Clones. Amidala
      luchó en la Batalla de Geonosis que desató la guerra, poco después se casó secretamente con el Caballero Jedi Anakin
      Skywalker. Pasó a ser una miembro destacada del Comité Leal que intentó lograr la paz entre la República y la Confederación
       de Sistemas Independientes. Sus esfuerzos eran a menudo polémicos en el Senado de la República, una institución que
       favoreció en gran parte la derrota de los Separatistas y la centralización del poder dentro de la Oficina del Canciller.
    </h2>

    <h2>Antes del fin de la guerra, Amidala, que estaba embarazada de gemelos, continuó su empuje para restaurar la libertad a la
       República por ser una destacada miembro de la Delegación de los 2,000, un grupo que impulsó al Canciller Palpatine a
       renunciar a su autoridad ejecutiva. En lugar de renunciar a su poder, el secreto Lord Sith convirtió a Skywalker al lado
       oscuro de la Fuerza y lo ungió como Darth Vader, marcó a la Orden Jedi como traidores y comenzó la Purga Jedi y transformó
       la República en el Imperio Galáctico.
    </h2>

    <h2>Amidala rogó a Vader dejar el lado oscuro, pero creía que ella le había traicionado y la atacó, hiriéndola gravemente en la
       luna volcánica de Mustafar. Fue llevada por su amigo y antiguo maestro de Vader, el Maestro Jedi Obi-Wan Kenobi, a Polis
       Massa, donde dio a luz a Luke y Leia antes de morir.
    </h2>

    <h2>Leia siguió los pasos de su madre y se convirtió en un paladín de la democracia, ayudando a liderar la Alianza para
      Restaurar la República y, en definitiva, la Nueva República que se levantaron para derrotar al Imperio. Luke, como su
      padre antes que él, se convirtió en un Caballero Jedi y convirtió a Vader nuevamente a la luz. En los momentos finales
      de Vader, las últimas palabras de Amidala se realizaron: aún existía el bien en Anakin Skywalker.
    </h2>
  </ion-list>
</ion-content>
