<ion-header>
  <ion-toolbar>
    <ion-title>Yoda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <ion-list>

     <ion-avatar item-start>
       <img src="assets/img/Yoda.png">
     </ion-avatar>

      <h2>Yoda es un personaje ficticio del universo Star Wars.

        Era uno de los más renombrados y poderosos Maestros Jedi durante toda la historia de la Galaxia, y uno de los pocos Jedis de la
        República Galáctica en sobrevivir hasta la Guerra Civil Galáctica. Siendo el maestro más perceptivo de la Orden, él ejerció como
        Gran Maestro durante las Guerras Clon y la fundación del Imperio Galáctico, después de la cual escapó para ocultarse de la Gran
        Purga Jedi.
      </h2>

    <h2>Amidala fue elegida Reina de Naboo en la edad de catorce años, poco después de que ella se vio obligada a lidiar con la
      ocupación de la Federación de Comercio. Su determinación para liberar a su pueblo llevó a la remoción del Canciller Supremo
      Finis Valorum de la oficina, la elección del Senador de Naboo Sheev Palpatine—secretamente Darth Sidious, Señor Oscuro de
      los Sith—a la cancillería y la cadena de acontecimientos que provocaron el estallido de la Guerra de los Clones. Amidala
      luchó en la Batalla de Geonosis que desató la guerra, poco después se casó secretamente con el Caballero Jedi Anakin
      Skywalker. Pasó a ser una miembro destacada del Comité Leal que intentó lograr la paz entre la República y la Confederación
       de Sistemas Independientes. Sus esfuerzos eran a menudo polémicos en el Senado de la República, una institución que
       favoreció en gran parte la derrota de los Separatistas y la centralización del poder dentro de la Oficina del Canciller.
    </h2>

    <h2>Aunque era uno de los miembros más respetados de la Orden, no pudo percibir su destrucción. Corregiría sus errores al
      desempeñar una función importante en los eventos galácticos posteriores, entrenando a Luke Skywalker durante la Guerra
      Civil Galáctica. Después de su muerte en el 4 DBY, se convirtió en uno con la Fuerza. Él fue el último Jedi de la Antigua
      Orden.
    </h2>

  
  </ion-list>
</ion-content>
