<ion-header>
  <ion-toolbar>
    <ion-title>
      StarWars
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
   <ion-list>

    <h2>Navergar a la descripción del Personaje</h2>

       <ion-avatar item-start>
         <img src="assets/img/Chewbacca.png">
       </ion-avatar>
         <ion-button href="/desc-per">Chewbacca</ion-button>


        <ion-avatar item-start>
          <img src="assets/img/Darth_Vader.png">
        </ion-avatar>
        <ion-button href="/personaje">Darth_Vader</ion-button>


        <ion-avatar item-start>
            <img src="assets/img/General_Grevous.png">
        </ion-avatar>
        <ion-button href="/General_Grevous">General_Grevous</ion-button>


        <ion-avatar item-start>
            <img src="assets/img/Padme_Amdala.png">
        </ion-avatar>
        <ion-button href="/Padme_Amdala">Padme_Amdala</ion-button>


        <ion-avatar item-start>
            <img src="assets/img/Yoda.png">
        </ion-avatar>
        <ion-button href="/Yoda">Yoda</ion-button>


    </ion-list>
</ion-content>
