<ion-header>
  <ion-toolbar>
    <ion-title>DARTH_VADER</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
   <ion-list>

     <ion-avatar item-start>
       <img src="assets/img/Darth_Vader.png">
     </ion-avatar>

      <h2>Darth Vader, también conocido por su nombre de nacimiento Anakin Skywalker, es un personaje de ficción en la franquicia
        de Star Wars. Vader aparece en la trilogía original como un antagonista cuyas acciones dirigen la trama, mientras que su
        pasado como Anakin Skywalker y la historia de su corrupción por Darth Sidious son centrales en la narrativa de la trilogía
        de la precuela.
      </h2>

    <h2>Anakin Skywalker nace en el planeta Tatooine, siendo hijo de Shmi Skywalker y de padre desconocido. Tanto Anakin como su
      madre son esclavos de Watto, un alienigena chatarrero. El joven destaca pronto como inventor y habil piloto y la fuerza es
      detectada en el muy pronto.
      Durante su infancia, conoce al jedi Obi-Wan Kenobi, quien se convierte en su mejor amigo y quien le entrena como jedi.
      Tras una misión, Anakin conoce a Amidala Padmé, la princesa del planeta Naboo y senadora de la república galáctica, de la
      que se enamora perdidamente y con la que, contraviniendo las reglas jedi, termina casándose. Durante su juventud, Anakin,
      convertido ya en padawan de Obi Wan Kenobi, participa activamente en las Guerras Clon, que se mantendrán hasta su madurez,
      convertido ya en un jedi de pleno derecho.
      Posteriormente, Anakin descubre que su esposa, Padmé, está embarazada, pero comienza a tener horribles pesadillas, en las
      que ve como esta muere. Por otro lado, el joven jedi se acerca cada vez más al Canciller Palpatine, quien es un Sith
      encubierto y quien lo acabará arrastrando al lado oscuro.
    </h2>

    <h2>Tras su caída, adopta el nombre de Darth Vader y acaba enfrentandose a su maestro, Kenobi, quien, tras una gran pelea de
      espadas láser, acaba mutilando al joven y abandonándolo a su suerte en el planeta Mustafar, donde acaba malherido y
      calcinado en la lava.
    </h2>

    <h2>Posteriormente, Anakin es recogido por Palpatine, quien ha suspendido el consejo de la república y proclamado emperador,
      y quien le aplica medicina Sith, recuperando sus extremidades y convirtiéndolo en su aprendiz. Padme da a luz a gemelos,
      pero muere en el parto. Los bebés son ocultados por Obi Wan (El niño con la familia Skywalker y la niña con el senador Bail
      Organa) y Anakin ignora que los niños han sobrevivido.
    </h2>

    <h2>Veinte años más tarde, Vader descubre que su hijo sobrevivió y que es el líder de la resistencia imperial. Vader trata de
      arrastrar a su hijo al lado oscuro, infructuosamente, ignorando que este tiene una hermana gemela, que Padme no tuvo un hijo,
       sino dos, que fueron separados tras su caída.
      Finalmente, tras años de lucha contra la rebelión encabezada por sus dos hijos,(Luke Skywalker y Leia Organa), Vader conduce
      al joven Luke ante el emperador con la intención de lograr su caída al lado oscuro. Tras una batalla con espadas láser en la
      que Luke derrota a su padre, el emperador le ordena que lo mate, a lo que Luke se niega. Este, en represalia, trata de matar
      a Luke, haciendo que Vader reaccione finalmente, agarrando al emperador y asesinándolo y haciendo que regrese Anakin de nuevo.
       Malherido, Anakin es consciente del final de su vida, y le pide a su hijo que le quite el casco que ha llevado durante más
       de veinte años para poder verle con sus propios ojos. Finalmente, tras cumplir su última voluntad, Anakin, siendo de nuevo
       el glorioso y valiente Jedi de su juventud, muere, al fin, en paz.
    </h2>
  </ion-list>
</ion-content>
